.footer {
    margin-top: auto;
}
.footer .footer-box {
    padding: 30px 0;
    text-align: center;
}
.footer .footer-box > * {
    line-height: 2;
}
.footer .footer-box,
.footer .footer-box a {
    color: var(--text-sub);
    transition: var(--tr3);
}
.footer .footer-box a:hover {
    color: var(--theme);
}