@font-face {
  font-family: "iconfont"; /* Project id 3557637 */
  src: url('iconfont.woff2?t=1659381307933') format('woff2'),
       url('iconfont.woff?t=1659381307933') format('woff'),
       url('iconfont.ttf?t=1659381307933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login1:before {
  content: "\e624";
}

.icon-a-cloudyatnight:before {
  content: "\e754";
}

.icon-moon:before {
  content: "\e758";
}

.icon-a-partlycloudy_01:before {
  content: "\e759";
}

.icon-sunny:before {
  content: "\e75b";
}

.icon-sousuo1:before {
  content: "\e692";
}

.icon-up-circle:before {
  content: "\e785";
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-message:before {
  content: "\e78a";
}

.icon-poweroff:before {
  content: "\e78c";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-doubleleft:before {
  content: "\e7ed";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

